@{
    ViewBag.Title = "Create Product";
    //Layout = "_Layout ";
}
@model Project_Web.Data.Product

<h1>Create Product</h1>

<hr />
<from action="/product/create" method="post">
    <div class="row">
        <div class="col-md-6">
            <label for="ProductName">Product Name</label>
            <input type="text"
                   class="form-control"
                   id="Name"
                   name="ProductName"
                   placeholder="Product Name" />
        </div>
        <div class="col-md-6">
            <label for="ShortDesc">ShortDesc</label>
            <input type="text"
                   class="form-control"
                   id="ShortDesc"
                   name="ShortDesc"
                   placeholder="ShortDesc" />
        </div>
        <div class="col-md-6">
            <label for="Price">Price</label>
            <input type="text"
                   class="form-control"
                   id="Price"
                   name="Price"
                   placeholder="Price" />
        </div>
        <div class="col-md-6">
            <label for="CategoryId">CategoryId</label>
            <input type="text"
                   class="form-control"
                   id="CategoryId"
                   name="CategoryId"
                   placeholder="CategoryId" />
        </div>
        <button type="submit" class="btn btn-success">Create Product</button>
        <a href="/product" class="btn btn-danger"> Cancel</a>
    </div>
</from>



@*<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ShortDesc)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ShortDesc)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Category)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Category.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Discount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Discount)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Image)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Image)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Video)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Video)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DateCreate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DateCreate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DateUpdate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DateUpdate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BestSellers)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BestSellers)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.HomeFlag)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.HomeFlag)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Active)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Active)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Alias)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Alias)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Remains)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Remains)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Rating)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Rating)
    </dd>
</dl>*@